.header {
  height: fit-content;
  position: sticky;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem 0;
}

.header img {
  width: 6rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 1rem;
}

.links p {
  display: none;
}

.links button {
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  border: none;
  color: #d20f38;
  background-color: white;
  font-weight: 700;
}
