* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  background-color: rgb(168, 15, 15);
  color: #f5f5f5;
}

body {
  font-size: 1.6rem;
}
