.container {
  min-height: 100vh;
  width: 100%;
}

.header {
  height: fit-content;
  min-width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.main {
  min-width: 32rem;
  height: 100%;
  padding: 0 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  scroll-behavior: smooth;
}

.firstSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  width: 100%;
  height: calc(100vh - 8rem);
}

.firstSection h1 {
  font-size: 4rem;
}

.firstSection h2 {
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 600;
}

.firstSection p {
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
}

.firstSection a {
  text-decoration: none;
  color: #d20f38;
}

.firstSection button {
  margin-top: 4rem;
  padding: 1.2rem 1.4rem;
  background-color: white;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #d20f38;
  cursor: pointer;
}

@media (min-width: 538px) {
  .firstSection {
    padding: 8rem 0 10rem 0;
  }
  .firstSection h1 {
    font-size: 5rem;
  }
  .firstSection p {
    font-size: 1.8rem;
  }
}

@media (min-width: 723px) {
  .firstSection {
    padding: 9rem 0 11rem 0;
    height: calc(100vh + 9rem);
    gap: 0.8rem;
  }

  .firstSection p {
    width: 90%;
  }

  .firstSection button {
    padding: 1.4rem 2rem;
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .firstSection {
    gap: 2rem;
  }

  .firstSection h1 {
    font-size: 7rem;
  }

  .firstSection h2 {
    font-size: 3rem;
  }

  .firstSection p {
    width: 75%;
    font-size: 2.1rem;
    /* letter-spacing: 6rem; */
  }

  .firstSection button {
    padding: 1.8rem 2.8rem;
    font-size: 2.4rem;
  }
}
